<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            <img src="../images/logo.png" class="logo">
            <h3>ABOUT ME</h3>
            <a href="../index.html" class="home">Return To Home</a>
        </div>
        <div class="wrapper">
            
            <div class="content">
                <h6>Aspiring full stack developer with a passion for Java and web design, seeking to leverage my skills in a dynamic, entry-level role.</h6>
                <p>Hello, my name is Hemalatha Kariminji. I recently graduated with a B.Tech in Computer Science and Engineering from Godavari Institute of Engineering and Technology in Rajahmundry. I am passionate about programming and web development, with a strong background in Python, Java, and front-end technologies. My major project on "Bitcoin Price Prediction Using Multiple Machine Learning Algorithms" showcases my ability to apply advanced machine learning techniques to solve real-world problems. Additionally, my internship experience in front-end development and leadership has refined my technical and teamwork skills. I am eager to leverage my knowledge and creativity to contribute to innovative projects in the field of information technology.</p>
            <a href="../components/hireme.html" class="btn"> Contact Me</a>
            </div>
            <div class="image">
                <img src="../images/about.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>