<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire Me</title>
    <link rel="stylesheet" href="../components/hireme.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav>
        <img src="../images/logo.png" class="logo">
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../components/About us.html">ABOUT</a></li>
            <li><a href="../components/portfolio.html">PORTFOLIO</a></li>
            <li><a href="../components/services.html">SERVICES</a></li>
            <li><a href="../components/hireme.html">HIRE ME</a></li>
        </ul>
    </nav>
    <section class="contact" id="contact">
        <div class="contact-text">
            <h3>Hire<span>Me</span></h3>

            <h4>Let's Work Together</h4>
            <p>
                I'm excited to bring your projects to life with my expertise in web design, programming, and app
                development. Let's connect and discuss how I can contribute to your success. Reach out to get started!
            </p>
            <div class="contact-list">
                <li><i class='bx bxs-envelope'></i> hemalatha.kariminji@gmail.com</li>
                <li><i class="bx bxs-phone"></i> +91 7396960702 </li>
            </div>
            <div class="contact-icons">
                <a href=""><i class="bx bxl-facebook-circle"></i></a>
                <a href=""><i class="bx bxl-twitter"></i></a>
                <a href=""><i class="bx bxl-instagram"></i></a>
                <a href=""><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
        <div class="contact-form">
            <form action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="aa37bae1-10da-4e60-a998-d9f036edbc5f">
                <input type="text" placeholder="Enter Your Name" required name="name">
                <input type="email" placeholder="Enter Your Email " required name="email">
                <input type="text" placeholder="Subject here" name="subject" required>
                <textarea name="message" id="" cols="40" rows="10" placeholder="Message here" required></textarea>
                <input type="submit" value="submit" class="send">
            </form>
        </div>
    </section>
    <div class="last-text">
        <p>Developed with Passion on Web Development @2024.</p>
    </div>
</body>

</html>