<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="services.css">
</head>

<body>
    <nav>
        <img src="../images/logo.png" class="logo">
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../components/About us.html">ABOUT</a></li>
            <li><a href="../components/portfolio.html">PORTFOLIO</a></li>
            <li><a href="../components/services.html">SERVICES</a></li>
            <li><a href="../components/hireme.html">HIRE ME</a></li>
        </ul>
    </nav>
    <h4>SERVICES</h4>
    <h1>What I Can Do</h1>
    <div class="Container">
        <div class="box">
            <ion-icon class="icons" name="brush-outline"></ion-icon>
            <h2>Web Designing</h2>
            <p>
                I create custom, responsive websites that are visually stunning and user-friendly, ensuring a seamless
                experience on all devices.I focus on easy navigation and engaging interfaces to turn your ideas into a
                stunning online presence.</p>
            <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </div>
        <div class="box">
            <ion-icon class="icons" name="construct-outline"></ion-icon>
            <h2>Programming </h2>
            <p>
                I offer expert programming in Python, Java, and SQL. I develop scalable applications, perform data
                analysis, build secure and high-performance systems, and efficiently manage databases. Let’s bring your
                projects to life with reliable code.</p>
            <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </div>
        <div class="box">
            <ion-icon class="icons"  name="grid-outline"></ion-icon>
            <h2>App development</h2>
            <p>
                I provide full-stack app development, handling everything from front-end design to back-end integration.
                Whether mobile or web apps, I ensure robust, user-friendly applications tailored to your needs with the
                knowledge of UI/UX design.</p>
            <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </div>
        
       
    </div>
    <div class="Container">
        <div class="box">
            <ion-icon class="icons"  name="server-outline"></ion-icon>
            <h2>Knowledge in DBMS</h2>
            <p>
                I offer expert DBMS services, adept at handling CRUD operations through efficient database querying. I
                ensure data integrity, security, and seamless data management for your applications, providing reliable
                and accessible database solutions.</p>
            <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </div>
        <div class="box">
            <ion-icon class="icons" name="logo-react"></ion-icon>
            <h2>React Expertise</h2>
            <p>
                I have strong knowledge in React, leveraging its capabilities to build dynamic, high-performance web
                applications. I create responsive and interactive user interfaces, ensuring a seamless user experience
                and efficient component management.</p>
            <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </div>
        <div class="box">
            <ion-icon class="icons" name="logo-figma"></ion-icon>
            <h2>Figma Expertise</h2>
            <p>
                I have extensive knowledge in Figma, using it to design and prototype user interfaces efficiently. With
                Figma, I create visually appealing and user-friendly designs, ensuring collaborative and streamlined
                design processes.</p>
            <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </div>

    </div>
    <div class="Container">
        <div class="box">
            <ion-icon class="icons" name="game-controller-outline"></ion-icon>
            <h2>Game Designing</h2>
            <p>

                I specialize in game designing, creating immersive and engaging experiences. From conceptualization to
                execution, I handle game mechanics, graphics, and user interfaces to deliver captivating and interactive
                games tailored to your vision.</p>
            <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </div>

        <div class="box">
            <ion-icon class="icons" name="chatbubbles-outline"></ion-icon>
            <h2>Good Communicator </h2>
            <p>

                I prioritize clear and effective communication to ensure that your project goals and requirements are
                understood and met. I provide regular updates and am always available to discuss your needs, ensuring a
                smooth and collaborative process.</p>
            <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </div>
        <div class="box"></div>
    </div>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>